*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    /* background-color:rgb(4, 45, 74) ; */
    background-color: rgb(186, 219, 249);
}
.navbar{
    position:sticky;
    top:0px;
    
}
.navlists {
    
        display: flex;
        justify-content: space-around;
        color: aliceblue;
        font-size: 20px;
       
        background-color: black;
        height: 4vw;
       
     
       
        align-items: center;
      }

.navlists li a{
  color: rgb(245, 245, 246);
  list-style: none;
  text-decoration: none;
  }

.navlists li{
    list-style: none;
    
}
.navlists li a:hover{
    color: rgb(28, 22, 22);
    font-size: 21px;
    background-color: rgb(234, 225, 225);
    border: 2px solid white;
    border-radius: 15px;
}
.form{
    display: flex;
    flex-direction: column;
    margin: 10vw;
    width: 32vw;
    justify-content: center;
    font-size: 20px;
}
/* .container{
    background-color: rgb(189, 196, 201); */
    /* height: 100vh;
    width: 100vw; */

.submitbtn {
    color: black;
    background-color: gray;
    font-size: 20px;
    border-radius: 5px;
    width: 20vh;
}
.submitbtn:hover{
    color: #333332;
    background-color: rgb(249, 249, 252);
    transition: .3s
}
